In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df_train_trans=pd.read_csv('../input/transaction_TRAIN.csv') # (161965, 27)
df_train_op=pd.read_csv('../input/operation_TRAIN.csv') # (424481, 20)
df_train_tag=pd.read_csv('../input/tag_TRAIN.csv') # (13422, 2)

df_train_trans.rename(columns=lambda col:'trans_'+col if col!='UID' else col,inplace=True)
df_train_op.rename(columns=lambda col:'op_'+col if col!='UID' else col,inplace=True)

df_tag_uids=df_train_tag['UID'] # 标签中的UID都是唯一的
black_uids=df_train_tag[df_train_tag['Tag']==1]['UID']
white_uids=df_train_tag[df_train_tag['Tag']==0]['UID']

black_trans=df_train_trans[df_train_trans['UID'].isin(black_uids)]
white_trans=df_train_trans[df_train_trans['UID'].isin(white_uids)]

black_op=df_train_op[df_train_op['UID'].isin(black_uids)]
white_op=df_train_op[df_train_op['UID'].isin(white_uids)]

In [2]:
df_train_trans.head()

,UID,trans_channel,trans_day,trans_time,trans_trans_amt,trans_amt_src1,trans_merchant,trans_code1,trans_code2,trans_trans_type1,...,trans_ip1,trans_bal,trans_amt_src2,trans_acc_id2,trans_acc_id3,trans_geo_code,trans_trans_type2,trans_market_code,trans_market_type,trans_ip1_sub
0,19092,102,30,11:48:47,1459,acdbdb842ac20f1e,abc6bc660561e0eb,NaN,NaN,26bcf43a19df14c8,...,a664530c1fb20abe,1007,9fefed0a981dcb7a,NaN,NaN,wsbq,102.0,2ecf94369847c748,1.0,45f4ca1f4e9b9cb7
1,13465,140,23,16:58:03,725,4d7831c6f695ab19,7a87b1aa20972d48,NaN,NaN,c2f2023d279665b2,...,52abe1e300a8aa10,100,NaN,NaN,NaN,wte7,105.0,NaN,NaN,2b416f1d7e89ad3b
2,13713,140,22,09:56:39,127,c5fc631370cabc0d,cfd035fc7e0a53b2,NaN,NaN,c2f2023d279665b2,...,e4c132d02ff6c095,100,NaN,NaN,NaN,ws7n,105.0,NaN,NaN,ff71a556d86c4b8f
3,22703,140,1,18:11:45,99317,a571c7fda8b7df37,c71c876b8979028e,NaN,NaN,c2f2023d279665b2,...,e1c78a56cc9dfc8b,100,fbf6bf3c8927414c,NaN,NaN,wqj6,NaN,NaN,NaN,cf1527a0b4173e8f
4,17816,140,22,13:04:02,3361,c5fc631370cabc0d,6628f5ca013e3582,NaN,NaN,c2f2023d279665b2,...,abb6b4b8f15be6d6,100,NaN,NaN,NaN,NaN,105.0,NaN,NaN,cbc62c2b1cb7deb9

In [3]:
df_train_op.head()

,UID,op_day,op_mode,op_success,op_time,op_os,op_version,op_device1,op_device2,op_device_code1,op_device_code2,op_device_code3,op_mac1,op_mac2,op_ip1,op_ip2,op_wifi,op_geo_code,op_ip1_sub,op_ip2_sub
0,10035,30,c8741ce15ceac2a4,1.0,17:51:50,102,7.0.9,49dd36968dbfadda,OPPO R11,ecb58082e0e9b8e2,00fa2e4ba95605ef,NaN,NaN,a8dc52f65085212e,55dd8936655c86f6,NaN,NaN,wskx,e58e48fb9215116e,NaN
1,16264,16,20a91b45ef8f8221,1.0,08:36:00,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fc7fc47d6c93f554,NaN,NaN,NaN,3502c553ea2ac187
2,13162,8,b668e42707ee9c7b,0.0,18:09:57,102,7.0.5,630a1adff2a87007,MI MAX 2,1da225cb679a37eb,f18538156b8f9b57,NaN,a8dc52f65085212e,NaN,2147d925e7a8ba3c,NaN,NaN,NaN,3591678eca3f7a23,NaN
3,21392,23,c8741ce15ceac2a4,1.0,23:53:49,102,7.0.9,630a1adff2a87007,MI 5X,d0c285513b785609,a7e79e3c2c85c8c7,NaN,NaN,04a2d6c090518faa,c52efc665f0af581,NaN,4ff1553b1c96360e,wm4v,fdb5e20f6a6f2cd7,NaN
4,18599,26,acfaded7e04e7ba0,1.0,11:11:15,102,7.0.0,8399be6b80847240,NaN,27efd832595503f6,b6457e2264266257,NaN,NaN,1ab9dc3eae102aa6,0fe293bea342665a,NaN,NaN,NaN,f5009e2c6c13c80c,NaN

## 交易ip统计

In [10]:
black_ips=black_trans['trans_ip1'].value_counts().index.tolist()
white_ips=white_trans['trans_ip1'].value_counts().index.tolist()

In [24]:
# set(black_ips).intersection(white_ips)

我们可以看到 黑用户的ip地址和白用户的ip地址有很大部分交集

In [6]:
trans_ips=df_train_trans.groupby('UID')['trans_ip1'].value_counts().index.tolist()
def get_ip_label(uid):
    temp=[]
    for uid_ip in trans_ips:
        if uid_ip[0]==uid:
            temp.append(uid_ip[1])
    if set(black_ips).intersection(set(temp)):
        return 1 # 黑用户
    else: # 存在于白用户ip或者不存在ip记录
        return 0 # 白用户
get_ip_label(10000)

1

## 测试集中ip是否有黑用户ip

In [7]:
ip_labels=[get_ip_label(uid) for uid in df_train_tag['UID']]

In [12]:
df_test_trans=pd.read_csv('../input/transaction_round1.csv') # (161965, 27)
df_test_tag=pd.read_csv('../input/tag_TEST_round1.csv') # (13422, 2)

test_ips=df_test_trans['ip1'].value_counts().index.tolist()
set(black_ips).intersection(test_ips)

{'1180a9571e99ce56',
 '12b636267df18322',
 '16a81a1fd9d06b16',
 '298933aff96578f5',
 '2c2905307a4a1462',
 '3363aa6665632249',
 '358b69b22bfdbc46',
 '38b3fc87783670bc',
 '3bab126fdc0aec99',
 '4fc2bd31a5497889',
 '4fe464e3e707efe6',
 '5347834c6c254674',
 '576503646efbf857',
 '60be520783227e6e',
 '669a0962f72687fc',
 '717f0aa5f82f10b8',
 '73c018605ca8bb20',
 '776593b968d82173',
 '79222b67e4eab2f7',
 '795b422f7fbb936d',
 '79e0eb8bf86a1635',
 '7cef6decac3b5f36',
 '7eb8a6ed9265ba1a',
 '7f8521d26a8a8c76',
 '8646c075842b1de2',
 '871a3440673473d9',
 '896011fcdbbbeae4',
 '8f4983f42c03de9f',
 'a77119ab39df9f34',
 'ac3d5cc48adad416',
 'b0e46fc86c2a9cce',
 'b405156a219a8dfc',
 'b8da2e720385011a',
 'c15f4710f1d2dfd3',
 'caa44c85cb63ea78',
 'cd62b859f01a5414',
 'd02acc732f7ac5cd',
 'd60408580768f4cd',
 'dfd60428c8a33d4e',
 'e2d8ceab56b6015e',
 'f24e5bc63fb58a72',
 'f4aa5f68bfc5cf40',
 'fbfae8b5fed8c88e'}

## 交易的mac地址

In [39]:
black_macs=black_trans['trans_mac1'].value_counts().index.tolist()
white_macs=white_trans['trans_mac1'].value_counts().index.tolist()

In [40]:
set(black_macs).intersection(set(white_macs))

{'121416c97e9ae97f',
 '2939f98cfc8e1093',
 '3302d25d4a44cfcc',
 '345415c15fc905b1',
 '38dd83eb405afc1a',
 '399ba19ffcb415ec',
 '5c68438bc3e37696',
 '5d29fc48168327d2',
 '6807b5e64456bc3e',
 '6c7c2b0277197d8d',
 '8e7a682df818c9f7',
 '98ebe63476504ffa',
 '9abf264a78d06ea3',
 '9d9d0330584fe2e2',
 'a854a451649eea21',
 'a8dc52f65085212e',
 'b37a47bf868036b0',
 'c39e9d5bc9de20b7',
 'db9a9546ca6f9dd9',
 'e40f4a243774620b',
 'e85dd96cf29c7427',
 'eb1ef21900906ec7',
 'ebb110402dc1feba',
 'f33ef4d87ce2515f',
 'fbae394ffbc922a0'}

In [41]:
black_trans['trans_mac1'].value_counts()[:20]

a8dc52f65085212e    246
d9c956462582af29    147
26f77dbf814275d6     40
a96d7d60b7fd5014     39
806758ff07987890     31
424ff6fb86587d91     25
c2e12458c96670d5     24
1592014a4b686dcd     23
2939f98cfc8e1093     20
c2b156cbea2a38f8     19
0296824844093b40     19
2e803f23a47880e8     16
5d29fc48168327d2     13
4fe4437764c9cd1a     12
f194a039b5e15af9     12
b4a1f3c8ba74bf9a     10
51a1945e15a1bb8e     10
b5a39c1b5b0417b2     10
a67c513c3d152708      9
64d5c1ce42df0951      8
Name: trans_mac1, dtype: int64

In [42]:
white_trans['trans_mac1'].value_counts()[:20]

a8dc52f65085212e    31678
b2182581ddadd4d8      591
99a5f1ff7f3e54f0      482
f28cf10435121b5a      270
53e2fd7e77686393      260
e777a53c14478193      245
3fe8b1fe99defc34      224
806392e223fb11e6      219
ba03fa9b1aa1c10b      196
852fc46c3f0aff92      184
ef24bb865e1ea531      174
e558a2ee28dafca3      164
61866133b1e31ae9      162
552646b34f8e2027      153
b04f3146b0cc3c60      137
a552a3bc9c95f6c5      137
b49b8fe6346688e5      133
c0f9334a3ab7d698      132
769f780b04d497f2      132
1fb548894dac742a      132
Name: trans_mac1, dtype: int64